
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    font-family: 'Roboto', sans-serif;
  
}

.body{ background-color: white;}
.filter-title{

    width: 393px;
    height: 58px;
    background-color: #5E188C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1px;
    font-size: bold;
    margin-bottom: 10px;
    
    color: #fff;
}
.filter-select select
{
    border: 1px solid grey;
    width: 93px;
    height: 32px;
}
.filter-select select:focus

{
    border: 1px solid grey;
}
.filter-list 
{
    margin-top:26px;
}